!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div#contents
      div#main!=body
      hr
      div#footer
        - url = "https://github.com/shokai/content-type"
        a(href = url)= url