h1, h2, h3, h4 {
  color: #b4c864;
}

body {
  background-color: #281414;
  color: #c8c8c8;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

div#contents {
  padding: 50px;
}

body div {
  margin: 10px;
  font-size: 95%;
}

a {
  color: #a08cff;
}

.embeds input.img_tag{
  width: 800px;
  font-size: 100%;
}